<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Webtise_Fbpixel>
            <version>1.0.1</version>
        </Webtise_Fbpixel>
    </modules>
    <global>
        <helpers>
            <fbpixel>
                <class>Webtise_Fbpixel_Helper</class>
            </fbpixel>
        </helpers>
        <blocks>
            <fbpixel>
                <class>Webtise_Fbpixel_Block</class>
            </fbpixel>
        </blocks>
        <models>
            <fbpixel>
                <class>Webtise_Fbpixel_Model</class>
            </fbpixel>
        </models>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <fbpixel>
                        <class>fbpixel/observer</class>
                        <type>singleton</type>
                        <method>addToCartTracking</method>
                    </fbpixel>
                </observers>
            </checkout_cart_product_add_after>
            <wishlist_product_add_after>
                <observers>
                    <fbpixel>
                        <class>fbpixel/observer</class>
                        <type>singleton</type>
                        <method>addToWishlistTracking</method>
                    </fbpixel>
                </observers>
            </wishlist_product_add_after>
            <sales_quote_payment_save_after>
                <observers>
                    <fbpixel>
                        <class>fbpixel/observer</class>
                        <type>singleton</type>
                        <method>addPaymentMethodInfoTracking</method>
                    </fbpixel>
                </observers>
            </sales_quote_payment_save_after>
            <customer_register_success>
                <observers>
                    <fbpixel>
                        <class>fbpixel/observer</class>
                        <type>singleton</type>
                        <method>addRegistrationTracking</method>
                    </fbpixel>
                </observers>
            </customer_register_success>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <fbpixel>
                    <file>webtise/fbpixel.xml</file>
                </fbpixel>
            </updates>
        </layout>
    </frontend>
    <default>
        <webtise>
            <fbpixel>
                <general>
                    <enabled>1</enabled>
                </general>
            </fbpixel>
        </webtise>
    </default>
</config>